body {
    background-image: url(../images/vaio_hard_edge.png);
}

.wrapper {
    margin: 0 240px;
}

.header-box {
    padding-top: 7px;
}

.crystalcollector {
    font-size: 36px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: azure;
    background-color: darkred;
    opacity: .75;
    padding: 10px;
    margin: 10px 0;
    width: 780px;
    height: 50px;
    text-align: center;
}

.instructions {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: black;
    background-color: bisque;
    opacity: .75;
    padding: 10px;
    width: 780px;
    line-height: 18px;
}

.random-num-box {
    background-color: darkred;
    opacity: .75;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: azure;
    padding: 10px;
    margin-left: 125px;
    margin-top: 15px;
    width: 300px;
    height: 75px;
    float: left;
}

#number-to-guess {
    padding-top: 15px;
}

.wins-losses {
    background-color: darkred;
    opacity: .75;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    padding: 10px;
    margin-left: 10px;
    margin-right: 125px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: 75px;
    float: left;
}

#wins {
    padding-top: 13px;
}

.crystal-images {
    width: 100px;
    height: 100px;
}

.score-text {
    clear: both;
    overflow: auto;
    background-color: bisque;
    opacity: .75;
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding-top: 7px;
    padding-left: 10px;
    margin-left: 125px;
    margin-bottom: 15px;
    width: 540px;
    height: 50px;
}

.yourscore {
    padding-top: 13px;
}

.score-total {
    background-color: bisque;
    opacity: .75;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: black;
    padding: 10px;
    margin-left: 125px;
    width: 540px;
    height: 100px;
    margin-bottom: 100px;
}

#crystals {
    padding-left: 100px;
    padding-bottom: 10px;
}

#score {
    padding: 25px;
}
